<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>tzx-blog</title>
    <!-- 引入自定义css -->
    <link rel="stylesheet" href="css/index.css"/>
    <!-- 引入bootstrap4,jquery需要在bootstrap4之前引入,popper.min.js 用于弹窗、提示、下拉菜单 -->
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css"/>
    <script type="text/javascript" src="bootstrap/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="bootstrap/popper.min.js"></script>
    <!-- 用以支持markdown语法 -->
    <script type="text/javascript" src="/markdownjs/showdown.min.js"></script>
</head>  
<body style="margin:0">
    <!-- 顶部导航栏 -->
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/tzxblog">首页</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tzxblog/categories">分类</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tzxblog/history">归档</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tzxblog/about">关于</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tzxblog/file">资料</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tzxblog/bbs">论坛</a>
            </li>
            <li class="nav-item" th:if="${islogin}">
                <a class="nav-link" href="/tzxblog/loginpage">登录</a>
            </li>
            <li class="nav-item" th:if="${islogin}">
                <a class="nav-link" href="/tzxblog/registpage">注册</a>
            </li>
            <li class="nav-item" th:if="${!islogin}">
                <a class="nav-link" href="/tzxblog/updateuser" th:text="'【 '+${logUser.userName}+' 】'">用户</a>
            </li>
            <li class="nav-item" th:if="${!islogin}">
                <a class="nav-link" href="/tzxblog/logout">【注销】</a>
            </li>
        </ul>
    </nav>
    <div class="container-fluid">
	<div class="row ">
		<div class="col-md-12 column">  
			<div class="row clearfix">
			    <!-- 侧边栏 -->
				<div class="col-sm-2 col-md-2 bg-light column">
				    <div class="header">
                       <img src="images/z1.jpg" style="border-radius:75px;width:150px;height:150px" alt="some_text"></img>
                    </div>
                    <p><center><H1>myBlog</H1></center></p>
                    <p><center><H4>认真生活，快乐工作，保持理想</H4></center></p>
                    <p th:text="${curAdd}"></p>
                    <hr/>
                    &nbsp;&nbsp;&nbsp;&nbsp;<h6>访问量：<font th:text="${readCounts}"></font></h6>
                    &nbsp;&nbsp;&nbsp;&nbsp;<h6>博客数：<font th:text="${blogCounts}"></font></h6>
                    &nbsp;&nbsp;&nbsp;&nbsp;<h6>原创数：<font th:text="${myCounts}"></font></h6>
                    &nbsp;&nbsp;&nbsp;&nbsp;<h6>转载数：<font th:text="${otherCounts}"></font></h6>
                    <!-- &nbsp;&nbsp;&nbsp;&nbsp;<h6>评论数：<font th:text="${commentCounts}"></font></h6> -->
                    <hr/>
				</div>
				<!-- 主区域 -->
				
				<div class="col-sm-10 col-md-10 column">
				    
				    <div class="title">
                        <table th:each="blogInfo : ${blogList}">
                            <tr><H3 th:text="${blogInfo.blogTitle}">this is my first blog</H3></tr>
							<tr >类型：</tr>
							<a ><tr th:text="${blogInfo.blogType}" ></tr></a>&nbsp;&nbsp;&nbsp;&nbsp;
							<tr >时间：</tr>
							<tr th:text="${blogInfo.blogDate}"></tr>&nbsp;&nbsp;&nbsp;&nbsp;
							<tr >阅读：</tr>
							<tr th:text="${blogInfo.blogReadCount}"></tr>&nbsp;&nbsp;&nbsp;&nbsp;
							<tr >评论：</tr>
							<a href="#"><tr th:text="${blogInfo.blogCommentCount}"></tr></a>&nbsp;&nbsp;&nbsp;&nbsp;
							<tr >作者：</tr>
							<a href="#"><tr th:text="${blogInfo.userinfo.userName}"></tr></a>
							<hr/>
						</table>
                    </div>
			    </div>
			</div>
		</div>
	 </div>
   </div>
</body>
</html>