<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>tzx-blog</title>
    <!-- 引入自定义css -->
    <link rel="stylesheet" href="/css/index.css"/>
    <!-- 引入bootstrap4,jquery需要在bootstrap4之前引入,popper.min.js 用于弹窗、提示、下拉菜单 -->
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css"/>
    <script type="text/javascript" src="/bootstrap/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="/bootstrap/popper.min.js"></script>
    <!-- 用以支持markdown语法 -->
    <script type="text/javascript" src="/markdownjs/showdown.min.js"></script>
    <script type="text/javascript" src="/tzxjs/login.js"></script>
</head>  
<body style="margin:0">
    <!-- 顶部导航栏 -->
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">首页</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">分类</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">归档</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">关于</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">资料</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">论坛</a>
            </li>
        </ul>
    </nav>
	<div class="jumbotron mx-auto" style="background:url(/images/loginbg1.png) no-repeat;background-size:100%;">   
	  <div class="row mx-auto rounded bg-secondary w-50" style="font-size:22px">
        <div class="col-md-offset-3 col-md-6 mx-auto" >
            <form id="logform" class="form-horizontal mx-auto" action="#">
                <center><span class="heading" style="font-size:30px;">用户登录</span></center><br/>
                <div class="form-group">
                    <p id="pu1" style="display:inline">请输入账号</p>
                    <input type="email" class="form-control" id="username" name="userAccount" placeholder="用户名或电子邮件"/>
                    <i class="fa fa-user"></i>
                </div>
                <div class="form-group help">
                    <p id="pp1" style="display:inline">请输入密码</p>
                    <input type="password" class="form-control" id="password" name="userPassword" placeholder="密　码"/>
                    <i class="fa fa-lock"></i>
                    <a href="#" class="fa fa-question-circle"></a>
                </div>
                <div class="form-group">
                    <div class="main-checkbox">
                        <input type="checkbox" value="None" id="checkbox1" name="check"/>
                        <label for="checkbox1"></label>
                        <span class="text">Remember me</span><br/><br/>
                    </div>
                    
                    <input type="button" id="login"  value="登录"/>
	                <a href="./registpage"><input class="float-right" id="regist" type="button" value="注册"/></a>
                </div>
            </form>
        </div>
    </div>
    </div>
    
</body>
</html>