*{
	margin: 0;
	padding: 0;
}
body{
 	background-color: #F5F5F5;
}
.main{
	width: 100%;
}
.blogMain{
	background: grey;
	width: 100%;
	height: auto;
}
.blogLeft{
	float: left;
	width: 8%;
	text-align: center;
	margin-top: 1%;
	margin-left: 3%;
	/*padding-left: 10px;*/
}
.blogContent{
	float: left;
	width: 62%;
	background-color: white;
	margin: 1%;
}
.blogRight{
	float:left;
	width:20%;
	margin-top: 1%;
}
