.blog-content li{
	text-align: left;
}
.blog{
	text-align: left;
	padding-left: 10px;
}
.blogDetail{
	font-family: YouYuan;
	/*margin-top: 10px;*/
}
.blogDesc{
	margin-top: 10px;
	color: grey;
}
.blog-detail{
	text-align: right;
	padding-right: 10px;
}