.home-left{
	width: 100%;
}
.home-left li{
	list-style: none;
	height: 30px;
	line-height: 30px;
	background-color: white;
	cursor: pointer;
}
.chooseGreen{
	color: green;
}
.chooseBlue{
	background-color: red;
}
.cateList{
	width:100%;
}