*{
	margin: 0;
	padding: 0;
}
body{
 	background-color: #F5F5F5;
}
.main{
	width: 100%;
}
.homeMain{
	background: grey;
	width: 100%;
	height: auto;
}
.homeLeft{
	float: left;
	width: 8%;
	text-align: center;
	margin-top: 1%;
	margin-left: 3%;
	/*padding-left: 10px;*/
}
.homeContent{
	float: left;
	width: 62%;
	background-color: white;
	margin: 1%;
}
.homeRight{
	float:left;
	width:20%;
	margin-top: 1%;
}
.blogLeft{
	float: left;
    width: 20%;
    text-align: center;
	margin-top: 1%;
	margin-left: 3%;
}
.blogMain{
	float: left;
	width: 72%;
	background-color: white;
	margin-top: 1%;
	margin-left: 0.5%;
}
