.topNav{
	background-color: white;
	height: 50px;
	width: 100%;
}
.navLeft{
	width: 40%;
	float: left;
}
.navRight{
	width: 60%;
	float: right;
}
.userInfo{
	padding: 10px;
	padding-right: 50px;
	text-align: right;
	color: red;
}
.navRight-left{
	float: left;
	width: 45%;
}
.navRight-right{
	float: left;
	width: 15%;
}